<%= form_for(kind, html: { class: 'basic-grey' }) do |f| %>

  <h1>
    <%= title %>
    <span><%= description %></span>
  </h1>

  <% if kind.errors.any? %>
    <div id="error_explanation">
      <h2><%= kind.errors.count %> erro(s) ocorreram:</h2>

      <ul>
      <% kind.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <br>
  <% end %>

  <div class="field">
    <label><%= Kind.human_attribute_name("description") %>:</label>
    <%= f.text_field :description %>
  </div>

  <div class="actions">
    &nbsp;
    <%= f.submit t("button.submit"), class: 'button' %>
    <%= link_to t("link_to.back"), kinds_path, class: 'button' %>
  </div>
<% end %>