<h1>
  Notebook<br>
  <span>Curso Ruby on Rails - Udemy.com</span>
</h1>

<h3><%= link_to 'Home', root_path %> | <%= link_to 'Tipos', kinds_path %> | <%= link_to 'Contatos', contacts_path %> | <%= link_to 'Endereços', addresses_path %> | <%= link_to 'Telefones', phones_path %> | <%= link_to 'Teste AJAX', teste_ajax_index_path, remote: true %> </h3>

<br>