<div class="basic-grey">

  <script>
    $.notify("<%= "#{notice}" %>", "success");
  </script>

  <%= render partial: '/shared/header' %>

  <%= link_to "+", new_contact_path, class: 'button_new' %>

  <h2><%= "#{t('messages.listing')} #{@contacts.model.model_name.human(count: @contacts.size)}" %></h2>

  <table>
    <thead>
      <tr>
        <th class="name"><%= @contacts.model.human_attribute_name("name") %></th>
        <th><%= @contacts.model.human_attribute_name("kind_id") %></th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @contacts.each do |contact| %>
        <tr style="background: <%= cycle('#f0f0f5', 'white') %>">
          <td class="name"><%= contact.name %></td>
          <td><%= contact.kind.description %></td>
          <td><%= link_to t('link_to.show'), contact %></td>
          <td><%= link_to t('link_to.edit'), edit_contact_path(contact) %></td>
          <td><%= link_to t('link_to.destroy'), contact, method: :delete, data: { confirm: t('messages.confirm') } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br><br>

  <div class="paginate"><%= paginate @contacts %></div>

</div>